@import colors

.report-tags

  h3
    margin-top 0
    margin-bottom .5em
    font-weight 700
    color color-primary-darker

  .clear-selected-tags
    display block
    float left
    clear left
    padding .2em .3em
    margin-bottom 1.5em
    font-size .75em
    line-height 1
    color color-gray
    text-decoration none
    border 1px solid color-gray-light
    border-radius .2em
    cursor pointer

    &:focus
      box-shadow 0 0 3px color-focus, 0 0 7px color-focus

    i
      margin-right .3em
      color color-gray-light

  ul
    padding-left 0

  li
    display block
    float left
    clear left
    padding .1em .3em
    font-size .875em
    font-weight 700
    background-color color-primary-alt-light
    border-radius .2em
    cursor pointer

    &:not(:last-of-type)
      margin-bottom .5em

    &.selected
      color color-white
      background-color color-primary-alt-darkest

    &:focus
      box-shadow 0 0 3px color-focus, 0 0 7px color-focus
