.chart-wrapper
  color: #000
  outline: none

.chart-wrapper.panel
  margin-bottom 15px
  margin-top 20px

.chart-wrapper .panel-title
  cursor pointer

.chart-title
  display flex
  align-items center

.chart-header-info
  margin-left auto
  font-size .875em
