.crosscorr div
  background: #fcfcfa
  color: #333
  font-family: "PT Serif", serif
  margin: 1em auto 4em auto
  position: relative
  width: 960px

.crosscorr div > p,
li > p
  line-height: 1.5em

.crosscorr div > p
  width: 720px

.crosscorr div > blockquote
  width: 640px

.crosscorr blockquote q
  display: block
  font-style: oblique

.crosscorr ul
  padding: 0

.crosscorr li
  width: 690px
  margin-left: 30px

.crosscorr a
  color: steelblue

.crosscorr a:not(:hover)
  text-decoration: none

.crosscorr pre,
code,
textarea
  font-family: "Menlo", monospace

.crosscorr code
  line-height: 1em

.crosscorr textarea
  font-size: 100%

.crosscorr div > pre
  border-left: solid 2px #ccc
  padding-left: 18px
  margin: 2em 0 2em -20px

.crosscorr svg
  font: 10px sans-serif

.crosscorr q:before
  content: "?"

.crosscorr q:after
  content: "?"

.crosscorr blockquote q
  line-height: 1.5em
  display: inline

.crosscorr blockquote q:before,
blockquote q:after
  content: ""

.crosscorr-background
  fill: #eee

.crosscorr line
  stroke: #fff

.crosscorr text.active
  opacity: 1
  fill: red
  /*
  fill: #cc3333;
  font-size: 130%;
  font-weight: bold;
  */

.crosscorr text.hush
  opacity: .2

.crosscorr text.normal
  opacity: 1
