.dropdown-span > .btn-group
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    
.dropdown-span > .btn-group > button
    padding 4px 8px
    
.left-block-dropdown > .dropdown-span
    display block
    float left

.search-down
    .form-group
        margin-top -5px

    span.input-group-addon
        position absolute

    input.form-control
        box-shadow none
        border-radius 0px
        border-left none
        border-right none
        margin-bottom -10px