.report-button
  display flex
  flex-direction column
  width 19%
  padding .5em
  padding-left .65em
  padding-right .65em
  padding-bottom .85em
  border 1px solid color-base

  border 1px solid #B1B1B1
  border-radius 2px
  box-shadow 0 1px 1px 0 rgba(0,0,0,0.12), 0 3px 11px 0 rgba(0,0,0,0.12)
  cursor pointer

  h2
    margin-top 0
    font-weight 700
    text-align center
    font-size 2vw
    height 4.5vw

  button
    margin-top auto

  &:hover
    background-color #F1F1F1
    box-shadow 0 4px 6px 0 rgba(0,0,0,.16), 0 3px 11px 0 rgba(0,0,0,0.12)
