.report-header
  padding-bottom 1rem !important

  .report-tags
    margin-top 1rem
    font-size 2rem

    &:before
      font-weight bold
      font-size .75em
      color color-gray
      content "TAGS"

  .report-tag
    float none
