.table-range
  width calc(100% - 2px)
  padding-top .25em
  padding-bottom .25em
  font-weight bold
  text-align center
  background-color color-gray-light
  border-right 1px solid color-gray
  border-bottom 1px solid color-gray
  border-left 1px solid color-gray

  .table-count
    color color-gray-lightest
