.error-description
.error-message
  margin-top: 1em

.error-container
  width 80%
  margin auto

.jumbotron
  padding 0 1em

  .error-description
    font-weight: bold

.error-suggestion
  padding-top: .5em
  margin-top: 1.5em
  border-top: 1px dotted rgba(0,0,0,.25)

.error-suggestion + ol
  padding-bottom: .5em
  border-bottom: 1px dotted rgba(0,0,0,.25)

.error-mailto
  margin-top: 1.5em
