/**
 * Styles for the FileDialogLink component.
 * ========================================
 * This Component is used in staging/FilesOverview and staging/Finalize.
 */
.file-dialog-link

  // Styles the React-Bootstrap ProgressBar component
  div.active.progress.progress-striped
    margin-bottom: .125em

  button.btn-danger
    color: white
