/**
 * Styles for the <ProgressMixin/>, which renders a modal with a progress bar.
 * ===========================================================================
 */

.progress-announce
  position: fixed
  top: 0
  left: 0
  z-index: -9999
  opacity: 0
  pointer-events: none

.progressmessages
  max-height: 100px
  overflow: hidden
  list-style-type: none

.finishedprogress
  font-size: small