@import colors
@import fonts

.q-grid-container
  margin 0
  height 100%

div.q-grid
  min-height 120px

  border-color color-gray
  border-radius 0

  // Sometimes, a QGrid doesn't show all of its rows, but also hides the
  // scrollbar. This rule stops it from hiding the scrollbar.
  &.hide-scrollbar > .slick-viewport
    overflow auto !important

  .slick-header
    padding-left 1px
    border-bottom 1px solid color-gray

  .slick-header-columns
    background-color color-gray-light

  .slick-header-column.slick-header-column
    min-height 30px
    background color-gray-light
    border-right 1px solid color-gray

    > .slick-resizable-handle
      background-color color-gray-light
      border-left 1px solid color-gray
      border-right 1px solid transparent

    > .slick-column-name,
    > .slick-sort-indicator,
    > .filter-button
      position absolute

    > .slick-column-name
      overflow hidden
      font-family $font-family-sans-serif
      font-weight bold
      color color-base
      white-space nowrap
      text-overflow ellipsis

      // To allow for filter button on right side of header.
      width 80%
      bottom .25em
      left .5em

      /* overwrite qgrid !important rule */
      margin-left 0 !important

    > .slick-sort-indicator
      width auto !important
      height auto !important
      margin-top 0
      font-family 'FontAwesome'
      color white
      background none !important

      &-asc:before
        content '\f0de'

      &-desc
        margin-top -5px

      &-desc:before
        content '\f0dd'

      &-loading
        margin-top -2px
        font-size .875em
        animation fa-spin 2s infinite linear

      &-loading:before
        content '\f110'

    > .filter-button
      color color-gray-lightest
      background-color transparent !important
      border 0 !important

      &:hover
        color color-white

  div.slick-row
    &.even
      background color-gray-lightest

    > div.slick-cell
      font-family $font-family-sans-serif
      border-left 1px solid color-gray-light
      border-right 0
      padding-left .5em
      padding-right .5em

      &:first-child
        border-left none

    > div.slick-cell.active
      content ""

.date-range-filter,
.numerical-filter,
.text-filter

  .dropdown-title
    font-size .9em !important

  .close-button
    top 6px !important
    right 7px !important
    font-size .75em

  .to
    font-size .875em

  .reset-link
    position absolute
    right 7px
    bottom 4px
    font-size .8em

  .select-all-link
    position absolute
    bottom 4px
    left 7px
    font-size .8em

.text-filter .check-box-cell input
  position relative
  top 3px

.text-filter-grid
  height 250px !important
  overflow-y scroll !important

.text-filter .text-filter-grid .slick-viewport
  overflow-x hidden !important

.text-filter .input-area
  border-bottom 1px solid #e1e8ed

#ui-datepicker-div
  padding 0
  font-family inherit
  border 1px solid color-gray-light
  border-radius 0

  .ui-datepicker-header
    color color-base
    background color-gray-lightest
    border 0
    border-bottom 1px solid color-gray-light
    border-radius 0

    .ui-datepicker-next,
    .ui-datepicker-prev
      position absolute
      top 6px
      width 1.25em
      height 1.25em
      float right
      background color-gray-lighter
      border 0
      border-radius 50%
      cursor pointer

    .ui-datepicker-next
      right 4px

    .ui-datepicker-prev
      left 4px

    .ui-icon-circle-triangle-e,
    .ui-icon-circle-triangle-w
      position relative
      margin-top -5px
      background none
      width 0px
      height 0

    .ui-icon-circle-triangle-e
      margin-left -4px
      border 5px solid transparent
      border-left 9px solid color-gray

    .ui-icon-circle-triangle-w
      margin-left -10px
      border 5px solid transparent
      border-right 9px solid color-gray

  .ui-datepicker-calendar

    a.ui-state-default
      color color-base
      background color-gray-lighter
      border 0

      &:hover
        background color-gray-lightest

    .ui-state-disabled
      .ui-state-default
        background color-gray
        border 0

.numerical-filter

  .range-separator
    top 0 !important
    font-size 18px !important

  .slider-range
    border-color color-gray-light

    .ui-slider-range
      background color-gray-lighter

    .ui-slider-handle
      width 18px
      height 18px
      background color-gray
      border 0
      border-radius 50%


.grid-canvas div.slick-cell.active
  background-color color-primary-alt-lightest
  font-weight bolder

div.slick-cell.table-widget-cell
  height 30px

.ui-state-default.slick-header-column
  height auto
