@import colors
@import layouts

body
    overflow-y scroll

body.modal-open
    overflow-y scroll

body,
html
  height 100%

.ellipsis
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.hide508
  position fixed
  width 1px
  height 1px
  left -9999em

.button-reference.label
  background-color color-white
  border 1px solid color-gray
  padding 0.2em 0.6em 0.075em
  color color-base

.flex-center,
.flex-center-vert
  display flex
  flex-direction column
  justify-content center
  height 100%

.flex-center
  align-items center

.flex-grid
  display flex
  justify-content space-between

.float-left
  float left

.float-right
  float right

.clearfix:after
  content ' '
  display block
  clear both

.pure-img-responsive
  max-width 100%
  height auto

.feedback-btn
  position absolute
  right 0
  left 0
  text-align center

.feedback-btn a
  padding .25em .75em
  font-weight bold
  color color-base
  background-color color-gold-light
  border 1px solid color-gold-lightest
  border-radius border-radius

  &:hover,
  &:focus
    color color-base
    text-decoration none
    background-color color-gold-lighter

  &:focus
    box-shadow 0 0 3px color-focus, 0 0 7px color-focus

  &:active
    background-color color-gold
