@import colors

table.table
  > thead,
  > tbody,
  > tfoot
    > tr
      > th,
      > td
        vertical-align: middle

table.table-no-border > tbody > tr > td
    border-top none

.hover-to-show > button
  visibility hidden

tr:hover .hover-to-show > button
  visibility visible


/**
 * Error styling for dropdowns in cells
 */
tr.rowError .dropdown-toggle,
tr.rowError .dropdown-toggle:hover
  overflow visible !important
  border-color color-secondary
  color color-secondary
  background none
  text-shadow none

tr.rowErrorRequired .dropdown-toggle:after
  display inline-block
  content 'REQUIRED FIELD'
  position absolute
  color color-secondary
  margin-left 20px
  margin-top 5px
  font-size 12px
