@import colors

//
// StagingOverview
//

.staging-icon
  margin-right: 10px

  &.inactive
    color: color-gray-light

//
// Interpretation
//

table.interpretation td:focus,
table.columnMappingTable td:focus
  color color-base
  outline none
  background-color color-gray-lightest

.dropdown-menu .lit
  text-decoration: none
  color: #262626
  background-color: #eee

//
// Share
//
.share-page-panel

  h4
    margin-bottom: .25em

  p
    margin-bottom: 0

  i
    margin-right: .5em
    font-size: 1.1em
