@import colors

#table-overlay
  .modal-dialog
    width 90%
    height 90%

  .modal-content
    height: 100%

  .modal-body
    height: 85%

table.stagingFileOverview
  table-layout: fixed

  & > thead > tr
    > th:first-child
      width: 200px

    > th.button-col
      width: 125px

    > th.icon-col
      width: 50px

  button
    color color-primary

  .file-dialog-link
    overflow: hidden

    button.btn-link
      width: 100%
      padding-left: 0
      text-align: left

.file-dialog-link-tooltip
  .tooltip-inner
    max-width: 100%
