@import colors

deep-dive-table-right-offset = 200px
deep-dive-pill-height = 3em
deep-dive-pills-total-height = 5*deep-dive-pill-height
deep-dive-active-pill = color-cool-blue-lightest
deep-dive-active-pill-dark = color-cool-blue-lighter
bg-danger = color-secondary-lightest
bg-warning = color-gold-lightest

.staging-mixin-controls .symbol-deep-dive-rdos
  float right
  margin-right 1em
  z-index (left-shift-staging-header-z-index - 1)

  > button
    position static

.symbols-grid
  > .q-grid-container
    position absolute
    left 0
    right 0
    bottom 0
    height 100%

  .q-grid
    /* override slickgrid's inline rule */
    height 100% !important

.symbols-grid .slick-cell.l1
  font-weight bold

/**
 * Toggle-all checkboxes
 *   Hide on initial render, unhide when it is moved into grid
 */
#symbols-select-toggle,
#symbols-exclude-toggle
  display none

.slick-header
  > #symbols-exclude-toggle,
  > #symbols-select-toggle
    display block
    position absolute
    top 0
    z-index (left-shift-staging-header-z-index - 2)

  > #symbols-exclude-toggle
    left 174px

  > #symbols-select-toggle
    left 1.5em


.symbol-deep-dive-loading
  font-size 2em
  text-align center
  margin-top 1em

.symbol-deep-dive
  position fixed
  padding-top 60px
  padding 60px 2em 1em 2em
  overflow-x hidden
  border-left 1px dotted color-gray-light
  top 0
  bottom 0
  right 0
  left left-shift-width
  background-color color-white

  .symbol-deep-dive-hover-to-expand
    opacity 0
    transition opacity .2s .2s

  /**
   * On smaller screens deep dive is hidden on right side, user can hover over
   * to bring deep dive front-and-center
   */
  @media (max-width: left-shift-max-width)
    z-index (left-shift-staging-header-z-index + 1)
    box-shadow: 0 1em .5em black
    left left-shift-sm-width
    right -2*left-shift-sm-width + 100%
    transition left .2s .2s, right .2s .2s

    > .symbol-deep-dive-hover-to-expand
      opacity 1
      font-size 1.25em
      position absolute
      left -3em
      top 50%
      transform rotate(90deg)

    &:hover
      left 'calc(100% - %s)' % left-shift-sm-width
      right 0

      > .symbol-deep-dive-hover-to-expand
        opacity 0


.symbol-deep-dive-candidates-label
  > p
    float left

  > div
    position relative
    float right
    top -1em
    margin-right 1em

    > strong
      border-bottom 1px solid black

    > em
      position absolute
      width 150px
      right 0
      top 2em
      font-size .65em
      text-align right

nav.symbol-deep-dive-tabs
  position absolute
  right 2em
  width deep-dive-table-right-offset
  overflow-y auto
  height deep-dive-pills-total-height

  & > ul > li
    width 100%
    left -2px
    margin-left 0
    text-align right
    height deep-dive-pill-height

    &.active > a
      border 2px solid deep-dive-active-pill-dark
      border-left none

    &.active > a,
    &.active > a:hover
      background-color deep-dive-active-pill
      color color-base
      border-radius 0
      width 100%

.symbol-deep-dive-table
  width 'calc(100% - %s)' % deep-dive-table-right-offset
  min-height deep-dive-pills-total-height

  > thead > tr:first-child
    background-color color-white

  tr
    border-bottom 1px dotted #ddd

    &:nth-child(3)
      border-bottom none

    &:nth-child(odd)
      background-color color-gray-lightest

      &>td:nth-child(3)
        background-color darken(deep-dive-active-pill, 10%)

    &.bg-danger
      > td,
      > td:nth-child(3)
        background-color bg-danger

    &.bg-warning
      > td,
      > td:nth-child(3)
        background-color bg-warning

    > td,
    > th
      padding .2em
      padding-left .5em
      border-left 1px dotted color-gray-light

      &:first-child
        font-weight bold
        border-left none

      &:nth-child(3)
        background-color deep-dive-active-pill
        border-right 2px solid deep-dive-active-pill-dark

.symbol-deep-dive-confirm
  margin 1em 0 0 0
  padding .5em
  border .25em solid deep-dive-active-pill-dark
  background-color deep-dive-active-pill
  > p
    float left
    margin .5em 0
    width 90%
  > button
    float right
    width 10%

.symbol-deep-dive-charts
  padding-top 1em

.symbol-deep-dive-rdos
  position relative

  > button,
  > div.panel
    position absolute
    right 0

  > button
    z-index 9999

  > div.panel
    position absolute
    z-index 9998
    top 3em
    min-width 500px
    border none
    box-shadow 0 0 .5em black

    > .panel-collapse
      border 1px solid #ddd

.symbol-deep-dive-rdos-form
  margin-left 1em

  .dependent-ctrl
    display none

  .enabled-ctrl ~ div > .dependent-ctrl
    display block
    margin-left 1em

  > div
    margin-top 1em

    &:first-child
      margin-top 0

.symbol-deep-dive-rdos-man-link
  position absolute
  right .5em
  bottom .1em
  font-size 2em

.slick-cell.flex-center > div
  width 30px

.no-resize > .slick-resizable-handle
  height 0


/**
 * Outlines and highlighting
 */

highlight-outline-width = 2px

@keyframes highlight-section
   50%
    outline-color color-cool-blue-lighter

@keyframes highlight-section2
   50%
    outline-color color-cool-blue-lighter

.symbol-deep-dive-charts ~ .tab-content
  margin-top highlight-outline-width
  padding-right highlight-outline-width

.symbol-deep-dive-table,
.symbol-deep-dive-charts ~ .tab-content
  outline highlight-outline-width solid transparent

.highlight-notional .symbol-deep-dive-charts ~ .tab-content,
.highlight-refdata .symbol-deep-dive-table
  animation highlight-section .125s step-end .125s 8 alternate

.highlight-price .symbol-deep-dive-charts ~ .tab-content
  animation highlight-section2 .125s step-end .125s 8 alternate
