@import colors
@import layouts
@import fonts

$font-size-base = 18px
$font-size-h1 = floor(($font-size-base * 2.5))
$font-size-h2 = floor(($font-size-base * 1.25))
$font-size-h3 = $font-size-base
$font-size-h4 = ceil(($font-size-base * .95))
$font-size-h5 = ceil(($font-size-base * .9))
$font-size-h6 = ceil(($font-size-base * 0.85))

$text-color = color-base

$body-bg = color-white


// Colors
$gray-base = color-base
$gray-darker = color-gray-dark
$gray-dark = color-gray
$gray = color-gray-light
$gray-light = color-gray-lighter
$gray-lighter = color-gray-lightest

// Sizes
$screen-sm-min = screen-sm-min
$screen-md-min = screen-md-min
$screen-lg-min = screen-lg-min

$screen-xs-max = (screen-sm-min - 1)
$screen-sm-max = (screen-md-min - 1)
$screen-md-max = (screen-lg-min - 1)


// Navbar
$navbar-height = navbar-height
$navbar-default-brand-color = color-primary-alt
$navbar-default-brand-hover-color = color-primary-alt-light
$navbar-default-bg = color-gray-dark
$navbar-default-color = color-white
$navbar-default-border = color-primary-alt-lightest
$navbar-default-link-color = color-gray-lighter
$navbar-default-link-hover-color = color-white
$navbar-default-link-active-color = color-white

//$navbar-inverse-link-hover-bg
//$navbar-inverse-link-active-bg


// Border radius
$border-radius-base = border-radius
$border-radius-large = border-radius
$border-radius-small = border-radius


// Button
$btn-default-color = color-base
$btn-default-bg = color-white
$btn-default-border = color-gray-dark

$btn-primary-color = color-white
$btn-primary-bg = color-primary
$btn-primary-border = color-primary

$btn-link-disabled-color = color-gray

// Input
$input-color = color-base

@import bootstrap
