.configureHeader
  border: none

  .panel-heading
    background: none
    background: #195bbe
    color: #fff

  &.panel:last-child
    margin-bottom: 86px

.configureTable
  .checkbox input[type="checkbox"]
    position: relative

  .form-control-feedback,
  .input-group .form-control
    z-index: 0

.has-success .input-group-addon
  color: #055a05
